body {
    background-color: #083b4c;
}

#griglia {
    display: flex;
    flex-flow: row wrap;

    margin: auto;

    gap: 15px;
}

#griglia .square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 70px;

    background-color: #1389b2;
}

#griglia .square.fizzbuzz {
    background-color: #f0466f;
}

#griglia .square.fizz {
    background-color: #0cd6a1;
}

#griglia .square.buzz {
    background-color: #ffd166;
}